html * {
    font-family: 'Raleway', sans-serif;
}

#wrapper {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

.newBook {
    background-color:  rgb(59, 160, 255);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    transition-duration: 0.4s;
}

.newBook:hover {
background-color: rgb(0, 132, 255);
}

.submitBtn {
    background-color: rgb(0, 194, 48);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 14px;
}

input[type=text] {
    padding: 6px;
    width: 250px;
    font-size: 20px;
}

#title_id {
    width: 100%;
}

.checkBox{
    display: none;
}

.checkContainer {
    display: inline-block;
    position: relative; 
    cursor: pointer;
    padding: 10px 30px;
    user-select: none;
    margin-left: 10px;
}

.checkmark {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #eee;
    position: absolute;
    left: 0;
    top: 8px;
    border-radius: 5px;
}

.checkContainer input:checked + .checkmark {
    background-color:rgb(59, 160, 255);
}

.checkContainer:hover .checkmark {
    background-color: #ccc;
}

/* Add checkmark after .checkContainer element in HTML, checkmark is truncated square */
.checkContainer input:checked + .checkmark:after {
    content: "";
    position: absolute;
    height: 6px;
    width: 13px;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
    top: 45%;
    left: 51%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

#doneContainer {
    display:flex;
    justify-content: center;
    padding:10px;
}

.doneBtn {
    background-color: rgb(183, 0, 255);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
}



table {
    width: 75%;
    margin-left:auto; 
    margin-right:auto;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}


.deleteBk {
    border-bottom: 0px;
}

.statusBtn {
    display: inline-block;
    border:none;
    font-size: 16px;
    background-color: transparent;
}

.statusBtn:hover {
    color: grey;
}

.deleteBtnContainer {
    border-bottom: 0px;
    background-color: transparent;
}

.deleteBtn {
    font-size: 15px;
    font-weight: bold;
    color: rgb(252, 130, 130);
    position: relative;
    border:none;
    background-color: transparent;
}

.deleteBtn:hover {
    color:rgb(255, 0, 0)
}


